.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: transparent;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
  box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.nav-link-color {
  color: #000000;
  font-size: 20px;
}

.home-repository {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.home-repository-search-container {
  width: 500px;
  height: 200px;
  margin-top: 120px;
  margin-left: 400px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
  box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
}

.home-repository-results-container {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
  box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
}

.home-repository-search-title {
  width: 100%;
  padding: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  top: -10%;
  position: relative;
  z-index: 0;
}

.home-repository-search-subtitle {
  width: 100%;
  height: 40px;
  margin-top: -30px;
  padding: 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

.result-buttons-nav {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-repository-search-query {
  width: 100%;
  height: 40px;
  padding: 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

@media (max-width: 991.98px) {
  #root {
    width: 670px;
  }

  .home-repository-search-title {
    font-size: 22px;
  }

  .home-repository-search-subtitle {
    font-size: 14px;
  }
  .buttonContainer {
    margin-top: 10px;
  }
}

@media (max-width: 767.98px) {
  #root {
    width: 100%;
    margin: 0px 30px 0px 30px;
  }

  .home-repository-search-container {
    width: 100%;
    margin-right: 0;
    flex-wrap: wrap;
  }
}

@media (max-width: 500.98px) {
  #root {
    width: 100%;
    margin: 0;
  }

  .buttonContainer {
    margin-top: 10px;
  }
}
